.no-extras-input {
  cursor: text !important;
}

.Landing-Page-v30-In {
  width: 336px;
  height: 23px;
  font-family: DroidSans;
  font-size: 19px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: rgba(74, 74, 74, 0.75);
}

.create-api-key-div {
  padding-bottom: 70px;
}

.create-api-key {
  width: 110px;
  height: 19px;
  color: #ee433d;
  // background-image: linear-gradient(to left, #ee433d, #ec3846 50%, #ec2c51);
  font-family: Cabin;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
}

.plus-sign-icon {
  width: 1.3em;
  height: auto;
  margin-bottom: 5px;
  margin-right: 5px;
}
