.landing-section {
  height: 100vh;
  text-align: center;
  padding:5em;
  display:block;


  h1 {
    margin: 3em;
    text-align: center;
  }

  p {
    margin:0.4em 2.2em;
    text-align:center;
  }

  div {
    margin-bottom: 1em;
  }

}

#landing-content {
  margin: 0;
  width: 100vw;
}


#above-the-fold {
  position: relative;

  padding-top: 10%;
  min-height: 100vh;
  height: 40em;

  @media screen and (min-width: 992px) {
    height: 50em;
  }

  color: nth($light-colors, 1);

  h1 {
    color: nth($light-colors, 1);
    margin-bottom: 1.3em;
  }

  p {
    max-width:25em;
  }

  .swoosh {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
  }

  .left-side-blurb {
    padding: 5%;
    left:6%;
  }

  .right-side-image {
    position: absolute;
    right: 0;
    overflow: hidden;
    margin-top:0;

    img {
      max-width: 80em;
      width: 135%;
    }
  }

  button {
    height: 2.5em;
    font-family: 'Cabin';
    font-size: .85em;
    font-weight: 600;
    margin-top:1.3em;

    color: nth($light-colors, 1);

    border-radius: .65em;
    width: 10em;

    background: transparent;
    border: 2px solid nth($light-colors, 1);

    &:hover {
      color: nth($light-colors, 1);
      box-shadow: 0 0 0 4px $active-button-color;
      font-weight:700;
    }
  }

  button.fill {
    color: $red-text-color;
    background-color: nth($light-colors, 1);
    border: transparent;
    margin-right: 25px;

    &:hover {
      color: $active-button-color;
    }
  }
}

#image-blurbs {
  img {
    width: 10em;
    height: 10em;
  }

  >div {
    padding: 1.25em;
  }

  p {
    color: nth($dark-colors, 2);
  }
}

#use-cases {
  background-image: linear-gradient(-180deg,
    rgba(216,216,216,0.21) 0%,
    rgba(155,155,155,0.21) 53%,
    rgba(216,216,216,0.21) 100%);
  background-size:100%;
  z-index:-1;

  margin-bottom:5em;

  h1 {
    text-align:left
  }
  .tile {
    -webkit-box-shadow: 0 8px 21px -6px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 8px 21px -6px rgba(0,0,0,0.4);
    box-shadow: 0 8px 21px -6px rgba(0,0,0,0.4);
    margin: 0em 2em 4em 2em;
    background-color:white;
  }

  p {
    padding: 0em 0.5em 1em 0.5em;
    color: nth($dark-colors, 2);
    text-align: left;

  }

  h4 {
    padding: 1em 0.5em 0em 0.5em;
    color: nth($dark-colors,1);
    text-align: left;
    margin-left:2.2em
  }

}



.final-cta {
  height: 40vh;
  text-align: center;
  padding:2em;

  h1 {
    margin: 2em;
    text-align: center;
  }

  button {
    height: 3em;
    font-family: 'Cabin';
    font-size: 1em;
    font-weight: 600;
    display:block;
    margin: 1em auto;

    color: $red-text-color;

    border-radius: .65em;
    width: 30em;

    background: transparent;
    border: 2px solid $red-text-color;

    &:hover {
      color: $red-text-color;
      background-color: white;
      box-shadow: 0 0 0 4px $active-button-color;
      font-weight:700;
    }
  }

  button.fill {
    color: white;
    background: $primary-gradient;
    border: transparent;

    &:hover {
      box-shadow: 0 0 0 4px $active-button-color;
      font-weight:700;
    }
  }

}
