.landing-section {
  height: 100vh;
  text-align: center;

  h3 {
    margin: 1em;
    text-align: center;
  }
}

#landing-content {
  margin: 0;
  width: 100vw;
}

#above-the-fold {
  position: relative;

  padding-top: 10%;
  min-height: 100vh;
  height: 30em;

  @media screen and (min-width: 992px) {
    height: 50em;
  }

  color: nth($light-colors, 1);

  h3 {
    color: nth($light-colors, 1);
    font-family: 'Droid Sans';
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 1em;
  }

  p {
    font-family: 'Cabin';
    font-size: 1.55em;
  }

  .swoosh {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    border-bottom: 1px #ccc solid;
  }

  .left-side-blurb {
    padding: 5%;
  }

  .right-side-image {
    position: absolute;
    right: 0;
    overflow: hidden;

    img {
      max-width: 65em;
      width: 125%;
    }
  }

  button {
    height: 2.25em;
    font-family: 'Cabin';
    font-size: .85em;
    font-weight: 600;

    color: nth($light-colors, 1);

    border-radius: .65em;
    width: 10em;

    background: transparent;
    border: 2px solid nth($light-colors, 1);

    &:hover {
      background-color: $active-button-color;
      color: nth($light-colors, 1);
      box-shadow: 0 0 0 4px $active-button-color;
    }
  }

  button.fill {
    color: $red-text-color;
    background-color: nth($light-colors, 1);
    border: transparent;
    margin-right: 25px;

    &:hover {
      color: $active-button-color;
    }
  }
}

#image-blurbs {
  img {
    width: 10em;
    height: 10em;
  }

  >div {
    padding: 1.25em;
  }

  p {
    color: nth($dark-colors, 2);
  }
}

#use-cases {
  background: nth($light-colors, 3);
}

#pricing {
}
