@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Cabin);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

@import "client/src/colors";

@import "client/src/landing";
@import "client/src/navbar";

p {
  font-family: 'Cabin';
  font-size: 1.45em;
}

h1,h2,h3,h4,h5 {
  font-family: 'Droid Sans';
  font-weight: bold;
}

//this is bad and who ever wrote it should feel bad
.authPageHeader {
  margin-top:67px;
  margin-bottom:67px;
  position:relative;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
}

.footer {
  position: relative;

  font-family: 'Droid Sans';
  font-size: 1.25em;

  padding: 1em;

  text-align: center;
  vertical-align: middle;

  background-color: nth($light-colors, 3);
}

#team-profiles {
  margin-top: 100px;

  .profile-image {
    border-radius: 50%;
    margin-top: 30px;
    padding: 5px;
  }
}
