// $font-family-sans-serif: 'Lato', sans-serif;
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Cabin);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

$redTextColor: #ec314c;
$actvBtnColor: #ff6d82;
$bigButtonWidth: 182px;
$lightColor1: #ffffff;
$darkColor1: #4a4a4a;
$darkColor2: rgba(74, 74, 74, 0.75);
$darkColor3: #9b9b9b;

/////////////////////// DEFAULT AND NAVBAR STYLES ///////////////////////////
body { 
  font-weight: normal;
  font-size: 12px;
}

.navbarLoggedOut {
  background: transparent;
  border: none;
}

.navbarLoggedOut a {
  color: $lightColor1;
  text-decoration: none;
}

.navbar-default * {
  font-size: 16px;
  text-decoration: none; 
}

.navbar-default .navbar-nav > li > a {
  color: $lightColor1;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:visited {
  color: $lightColor1;
  text-decoration: none;
}

.navbar-default .navbar-brand {
  color: $lightColor1;
  font-size: 26px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:visited {
  color: $lightColor1;
  font-size: 26px;
}
//////////////////////////////////////////////////////////////



///////////////////// MIXIN DEFINITIONS ///////////////////////////
@mixin headerOne($color) {
  color: $color;
  font-family: 'Droid Sans';
  font-weight: bold;
  font-size: 26px;
}

@mixin logoOne($color) {
  color: $color;
  font-family: 'Cabin';
  font-weight: medium;
  font-size: 26px;
}

@mixin bodyCopyBig($color) {
  color: $color;
  font-family: 'Cabin';
  font-weight: regular;
  font-size: 21px;
}

@mixin primActionBut($color) {
  color: $color;
  font-family: 'Cabin';
  font-weight: bold;
  font-size: 19px;
}

@mixin headerTwo($color) {
  color: $color;
  font-family: 'Droid Sans';
  font-weight: bold;
  font-size: 19px;
}

@mixin bodyCopySm($color) {
  color: $color;
  font-family: 'Cabin';
  font-weight: regular;
  font-size: 19px;
}

@mixin labelsOne($color) {
  color: $color;
  font-family: 'Cabin';
  font-weight: bold;
  font-size: 16px; 
}

@mixin navBarLinks($color) {
  color: $color;
  font-family: 'Cabin';
  font-weight: semibold;
  font-size: 16px;
}

@mixin dashLinksInFields($color) {
  color: $color;
  font-family: 'Cabin';
  font-weight: regular;
  font-size: 12px;
}
////////////////// END OF MIXIN DEFINITIONS //////////////////////



///////////////////// ADDITIONAL STYLING //////////////////////////////
.docsHeading {
  @include headerOne($darkColor1);
}

.docsPara {
  @include bodyCopyBig($darkColor3);
}

h3 {
  @include headerTwo($darkColor1);
}

.homeHeader {
  @include headerOne($lightColor1);
  width: 445px;
  margin-bottom: 35px;
}

.homePara {
  @include bodyCopyBig($lightColor1);
  width: 435px;
  line-height: 1.3;
}

.button1, .button2 {
  @include primActionBut($lightColor1);
  border-radius: 12px;
  margin-top: 24px;
  width: $bigButtonWidth;
}

.button1 {
  color: $redTextColor;
  background-color: white;
  border: transparent;
  margin-right: 25px;
}

.button2 {
  background: transparent;
  border: 2px solid white;
}

.btn-primary:hover.button1 {
  color: $actvBtnColor;
  background-color: white;
  border-color: $actvBtnColor;
  box-shadow: 0 0 0 4px $actvBtnColor;
  text-decoration: none;
}

.btn-primary:hover.button2 {
  background-color: $actvBtnColor;
  color: $lightColor1;
  border-color: white;
  box-shadow: 0 0 0 4px $actvBtnColor;
}

.mainLanding {
  padding-top:70px;
  background: transparent;
  height:100vh;
  color: $lightColor1;
}

.mainLandingImg {
  margin-top: -60px;
  overflow: hidden;
}

.mainLandingSpacer {
  height: 160px;
}

.landingPageGrid {
  z-index: 1;
}

.swoosh {
  position: absolute;
  overflow: hidden;
  top: -10px;
  right: -10px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 105%;
}

.table {
  margin-bottom: 0px;
}

.teamProfiles {
  margin-top: 100px;
}

.profileImage {
  border-radius: 50%;
  margin-top: 30px;
  padding: 5px;
}

.sectionHeader {
   @include headerOne($darkColor1);
   text-align: center;
}

.subSectionHeader {
  @include headerTwo($darkColor1);
  text-align: center;
}

.section1 {
  height:100vh;
}

.section1Container1 {
  position:relative;
  margin:0 auto;
  text-align: center;
}

.rectanglePlaceholder {
  width: 150px;
  height: 150px;
  background: #d8d8d8;
}

.section2 {
  height:100vh;
  background:green;
}

.section3 {
  height:100vh;
  background:red;
}
.section4 {
  height:50vh;
  background:orange;
}
/////////////////// END OF ADDITIONAL STYLING ///////////////////