.navbar {
  background: transparent;
  border: none;

  font-family: 'Cabin';
  font-size: 16px;
  text-decoration: none;

  .navbar-brand {
    font-family: 'Cabin';
    font-weight: medium;
    font-size: 26px;
  }

  &.navbar-home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: 1;

    li a, .navbar-brand {
      color: nth($light-colors, 1);

      &:hover,&:focus {
        color: nth($light-colors, 2);
      }
    }
  }

  &.navbar-norm {
    li a, .navbar-brand {
      color: nth($dark-colors, 3);

      &:hover,&:focus {
        color: nth($dark-colors, 2);
      }
    }
  }

  a {
    &:hover,&:active,&:focus {
      text-decoration: none;
    }
  }
}

