$font-size: 12px;
$font-stack: HelveticaNeue,Helvetica,sans-serif;

$modal-width: 300px;
$modal-padding: 12px;
$modal-item-padding: 8px;
$modal-background: #fcfcfc;
$modal-border: #bababa;

$comment-area-height: 100px;
$primary-color: #ee433d;
$secondary-color: #ec2c51;
$row-height: 30px;

$corner-rounding: 2px;
$border-width: 1px;

$arrow-size: 10px;

#frolicking-tuba{
  &-modal{
    position: fixed;

    font-family: $font-stack;
    font-size: $font-size;

    background-color: $modal-background;
    border: $border-width solid $modal-border;
    border-radius: 4px;
    width: $modal-width;
    z-index: 9999998;
    padding: $modal-padding;

    opacity: 0;
    transform: translate(0, 10px);

    transition: all .25s;

    &.right-arrow{
      margin-right: $modal-padding;
      &:after, &:before{
        left: 100%;
        top: 8%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
      }
      &:after{
        border-left-color: $modal-background;
        border-width: $arrow-size;
        margin-top: -$arrow-size;
      }
      &:before{
        border-left-color: $modal-border;
        border-width: $arrow-size + 1;
        margin-top: -($arrow-size + 1);
      }
    }
    &.left-arrow{
      margin-left: $modal-padding;
      &:after, &:before{
        right: 100%;
        top: 8%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
      }
      &:after{
        border-right-color: $modal-background;
        border-width: $arrow-size;
        margin-top: -$arrow-size;
      }
      &:before{
        border-right-color: $modal-border;
        border-width: $arrow-size + 1;
        margin-top: -($arrow-size + 1);
      }
    }
    input[type=text], label, textarea{
      font-family: $font-stack;
      font-size: $font-size;

      background-color: #ffffff;
      border: $border-width solid #979797;
      border-radius: $corner-rounding;
      outline: none;
    }

    input[type=text], textarea{
      width: $modal-width - ($modal-item-padding * 2) - ($border-width * 2);
    }

    input[type=text]{
      margin-bottom: $modal-item-padding;
      padding: $modal-item-padding;
    }

    textarea{
      height: $comment-area-height;
      padding: $modal-item-padding;
      resize: none;
    }

    input[type=file]{
      display: none;
    }

    label{
      vertical-align: middle;
      text-align: center;
      display: inline-block;
      border-radius: $corner-rounding;
      padding: $modal-item-padding / 2;
    }
  }

  &-file-input-container{
    font-family: $font-stack;
    font-size: $font-size;

    border: $border-width solid #979797;
    background: #ffffff;
    border-radius: 0 0 $corner-rounding $corner-rounding;
    padding: 6px;
    position: relative;
    top: -4px;
  }

  &-submit{
    font-family: $font-stack;
    font-size: $font-size;
    font-weight: 600;
    height: $row-height;
    background: linear-gradient(to left, #ee433d, #ec2c51);
    border-radius: $corner-rounding;

    cursor: pointer;
    color: white;
    margin-top: $modal-item-padding;
    float: right;
    border: none;

    &:hover{
      background: linear-gradient(to left, mix(#ee433d, white, 85%), mix(#ec2c51, white, 85%));
    }
  }

  &-open-button{
    bottom: 0;
    left: 0;
    position: fixed;

    margin: 15px;

    width: 45px;
    height: 45px;

    border-radius: 100%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .25);

    /* Rectangle 6 Copy 2: */

    background-image: url('data:image/svg+xml;utf8,%LOGO_SVG%');
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    z-index: 9999999;

    transition: all .25s;

    &:hover, &:active{
      background-color: #ec2c51;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, .25);
    }

    &.in-close-state{
      background-image: url('data:image/svg+xml;utf8,%LOADING_SVG%');
    }

    &.in-loading-state{
      background-image: url('data:image/svg+xml;utf8,%CLOSE_SVG%');
      animation: frolicking-tuba-loading infinite linear 1s;
    }
  }

  &-overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .25);
    z-index: 9999996;
    cursor: crosshair;
    opacity: 0;

    transition: all 1s;
  }

  &-clip-area{
    position: fixed;
    border: dashed $border-width rgba(0, 0, 0, .5);
    background-attachment: fixed;
    background-color: #fff;
    z-index: 9999997;
    cursor: crosshair;
  }

  &-bg-image{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999995;
    background-color: #fff;
    opacity: 0;
    transition: opacity 1s;
  }
}

@keyframes frolicking-tuba-loading{
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
