#frolicking-tuba-modal:after, #frolicking-tuba-modal:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#frolicking-tuba-modal-feedback {
	margin: 5px;
}
#frolicking-tuba-modal:after {
	border-top-color: #fff;
	border-width: 20px;
	margin-left: -20px;
}
#frolicking-tuba-modal:before {
	border-top-color: #ccc;
	border-width: 22px;
	margin-left: -22px;
}
#frolicking-tuba-modal{
	background: white;
	border: 2px #ccc solid;
	position: absolute;
	font-family: Helvetica,sans-serif;
	opacity: 0;
	transform: translate(0, 10px);
	transition: all .25s;
	border-radius: 10px;
	width: 328px;
}
#frolicking-tuba-modal-comment{
	height: 100px;
	width: 300px;
	padding: 8px;
	resize: none;
	font-family: Helvetica,sans-serif;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: -5px;
	border: 1px solid #ccc;
	border-radius: 6px;
}
#frolicking-tuba-modal-enterTitle,
#frolicking-tuba-modal-enterTo,
#frolicking-tuba-modal-enterFrom {
	padding: 8px;
	margin-top: 5px;
	font-family: Helvetica,sans-serif;
	font-size: 12px;
	width: 300px;
	border: 1px solid #ccc;
	border-radius: 6px;
}
#frolicking-tuba-modal-submit{
	cursor: pointer;
	background: none;
	border: none;
	color: #3b98ff;
	font-size: 16px;
	font-weight: 600;
	margin: 8px auto;
	float: right;
}
::-webkit-input-placeholder {
   color: #c6c6c6;
}
:-moz-placeholder { /* Firefox 18- */
   color: #c6c6c6;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #c6c6c6;
}
:-ms-input-placeholder {  
   color: #c6c6c6;
}
